# Publish only the runtime, public declarations, and npm-required metadata.
/*

!/bin/
/bin/*
!/bin/client.js
!/bin/client.wasm

!/ts_def/
/ts_def/README.md
!/ts_def/**/*.d.ts

!/README.md
!/LICENSE.txt
!/package.json
